<fieldset class="layui-elem-field layui-field-title" style="margin: 30px;">
	<legend>查询课程</legend>
</fieldset>
<div class="layui-row">
	<div class="layui-col-md1">
		<div class="grid-demo grid-demo-bg1">&nbsp;</div>
	</div>
	<div class="layui-col-md1">
		<div class="grid-demo grid-demo-bg1">&nbsp;</div>
	</div>

	<div class="layui-col-md4">
		<div class="grid-demo grid-demo-bg1">
			<form action="{:U('admin/course/courseselect')}" method="post">
				<div class="layui-inline">
					<div class="layui-input-inline">
						<input type="text" name="inform" placeholder="课程名、课程ID" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-inline">
					<div class="layui-input-inline">
						<input type="submit" name="key" value="课程" class="layui-btn layui-btn-primary layui-btn-sm" />
						<input type="submit" name="key" value="ID" class="layui-btn layui-btn-primary layui-btn-sm" />
					</div>
				</div>
			</form>
			<volist name='data' id='value'>
				<table class="layui-table" lay-even="" lay-skin="row" align="right">
					<colgroup>
						<col width="300">
						<col width="300">
					</colgroup>
					<thead>
						<tr>
							<th>标签</th>
							<th>信息</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>课程ID</td>
							<td>{$value.course_id}</td>
						</tr>
						<tr>
							<td>授课教师ID</td>
							<td>{$value.course_teachar}</td>
						</tr>
						<tr>
							<td>课程名</td>
							<td>{$value.course_name}</td>
						</tr>
						<tr>
							<td>课程简介</td>
							<td>{$value.course_summary}</td>
						</tr>
						<tr>
							<td>课程小节名</td>
							<td>{$value.course_section_name}</td>
						</tr>
						<tr>
							<td>课程路径</td>
							<td>{$value.course_path}</td>
						</tr>
						<tr>
							<td>其他</td>
							<td>{$value.course_other}</td>
						</tr>

						<tr>
							<td>
								<a href="{:U('admin/course/courseDetails')}?courseid={$value.course_id}&list2id={$value.list2_id}" class="layui-btn layui-btn-primary">去修改</a>
							</td>
							<td>
								<a href="{:U('admin/student/student')}?v=所有学生&page=1" target="mainFrame" class="layui-btn layui-btn-normal">取消</a>
							</td>
						</tr>
					</tbody>
				</table>
			</volist>
		</div>
	</div>
</div>

<link rel="stylesheet " type="text/css " href="__PUBLIC__/admin/layui/css/layui.css " media="all " />
<script src="__PUBLIC__/admin/layui/layui.js "></script>