<div class="layui-row">
	<div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
		<div class="grid-demo grid-demo-bg1">&nbsp;</div>
	</div>
	<div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
		<div class="grid-demo">
			<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
				<legend>课程详情</legend>
			</fieldset>

			<table class="layui-table" lay-even="" lay-skin="row">
				<colgroup>
					<col width="150">
					<col width="150">
				</colgroup>
				<volist name="data" id="value">
					<tbody>
						<tr>
							<td>课程编号</td>
							<td>{$value.course_id}</td>
						</tr>
						<tr>
							<td>课程名</td>
							<td>{$value.course_name}</td>
						</tr>
						<tr>
							<td>授课教师</td>
							<td>{$teachername}</td>
						</tr>
						<tr>
							<td>授课类型</td>
							<td>{$lis2name}</td>
						</tr>
						<tr>
							<td>课程简介</td>
							<td>{$value.course_summary}</td>
						</tr>
						<tr>
							<td>课程小节</td>
							<td>{$value.course_section_name}</td>
						</tr>
						<tr>
							<td>课程路径</td>
							<td>{$value.course_path}</td>
						</tr>
						<tr>
							<td>其他</td>
							<td>{$value.course_other}</td>
						</tr>
					</tbody>
				</volist>
			</table>
		</div>
	</div>
</div>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/layui/css/layui.css" media="all" />
<script src="__PUBLIC__/admin/layui/layui.js"></script>